In [24]:
import pandas as pd
import numpy as np

In [25]:

# Langkah 1: Menyesuaikan panjang bobot dan types dengan jumlah kriteria yang benar
criteria = ['pengalaman kerja', 'pendidikan', 'usia', 'status perkawinan', 'status perwakinan']
types = ['benefit', 'benefit', 'benefit', 'cost', 'cost']
bobot = np.array([0.3, 0.2, 0.2, 0.15, 0.15])

# Langkah 2: Membuat DataFrame
data_matriks_pekerja = {
    'A1': [0.5, 1, 0.7, 0.7, 0.8],
    'A2': [0.8, 0.7, 1, 0.5, 1],
    'A3': [1, 0.3, 0.4, 0.7, 1],
    'A4': [0.2, 1, 0.5, 0.9, 0.7],
    'A5': [1, 0.7, 0.4, 0.7, 0.1]
}

In [26]:

df_pekerja = pd.DataFrame(data_matriks_pekerja, index=criteria)
print("Matriks Awal:")
display(df_pekerja)

Matriks Awal:

                    A1   A2   A3   A4   A5
pengalaman kerja   0.5  0.8  1.0  0.2  1.0
pendidikan         1.0  0.7  0.3  1.0  0.7
usia               0.7  1.0  0.4  0.5  0.4
status perkawinan  0.7  0.5  0.7  0.9  0.7
status perwakinan  0.8  1.0  1.0  0.7  0.1

In [27]:

# Langkah 3: Normalisasi Matriks
df_normalized = df_pekerja.copy()
for i, tipe in enumerate(types):
    row = df_pekerja.iloc[i]
    if tipe == 'benefit':
        df_normalized.iloc[i] = row / row.max()
    else:  # cost
        df_normalized.iloc[i] = row.min() / row

print("Matriks Normalisasi:")
display(df_normalized)

Matriks Normalisasi:

                         A1   A2        A3        A4        A5
pengalaman kerja   0.500000  0.8  1.000000  0.200000  1.000000
pendidikan         1.000000  0.7  0.300000  1.000000  0.700000
usia               0.700000  1.0  0.400000  0.500000  0.400000
status perkawinan  0.714286  1.0  0.714286  0.555556  0.714286
status perwakinan  0.125000  0.1  0.100000  0.142857  1.000000

In [28]:

# Langkah 4: Matriks Ternormalisasi Terbobot
df_terbobot = df_normalized.copy()
for i in range(len(bobot)):
    df_terbobot.iloc[i] *= bobot[i]

print("Matriks Ternormalisasi Terbobot:")
display(df_terbobot)

Matriks Ternormalisasi Terbobot:

                         A1     A2        A3        A4        A5
pengalaman kerja   0.150000  0.240  0.300000  0.060000  0.300000
pendidikan         0.200000  0.140  0.060000  0.200000  0.140000
usia               0.140000  0.200  0.080000  0.100000  0.080000
status perkawinan  0.107143  0.150  0.107143  0.083333  0.107143
status perwakinan  0.018750  0.015  0.015000  0.021429  0.150000

In [29]:

# Langkah 5: Menjumlahkan skor akhir untuk tiap alternatif
skor_akhir = df_terbobot.sum(axis=0)
print("Skor Akhir Tiap Alternatif:")
display(skor_akhir)

Skor Akhir Tiap Alternatif:

A1    0.615893
A2    0.745000
A3    0.562143
A4    0.464762
A5    0.777143
dtype: float64

In [30]:

# Langkah 6: Menentukan peringkat
peringkat = skor_akhir.sort_values(ascending=False)
print("Peringkat Alternatif:")
display(peringkat)

Peringkat Alternatif:

A5    0.777143
A2    0.745000
A1    0.615893
A3    0.562143
A4    0.464762
dtype: float64

Berdasarkan hasil analisis, kandidat A5 menempati peringkat tertinggi dengan skor keseluruhan terbaik, disusul oleh A2 dan A1. Hal ini menunjukkan bahwa A5 paling memenuhi kriteria yang telah ditentukan, terutama pada aspek yang dianggap penting seperti pengalaman kerja dan pendidikan.

In [31]:
# TOPSIS (Technique for Order of Preference by Similarity to Ideal Solution) untuk pemilihan HP midrange berdasarkan 5 kriteria


# Langkah 1: Definisi kriteria dan tipe
criteria = ['Storage', 'Kamera', 'Harga', 'Berat', 'Bonus']
types = ['benefit', 'benefit', 'cost', 'cost', 'benefit']
bobot = np.array([0.25, 0.25, 0.2, 0.15, 0.15])

# Langkah 2: Data awal HP
# Format: [Storage (GB), Kamera (MP), Harga ($), Berat (gram), Bonus (ya=1, tidak=0)]
data_hp = {
    'Redmi Note 14 Pro+': [512, 200, 499, 187, 1],
    'Pixel 8a': [128, 64, 499, 188, 0],
    'Vivo V50': [256, 108, 520, 190, 1],
    'OnePlus Nord 4': [256, 64, 530, 195, 1],
    'Samsung A56': [128, 50, 550, 200, 0]
}

In [32]:

# Buat DataFrame awal
df_hp = pd.DataFrame(data_hp, index=criteria)
print("Matriks Awal:")
display(df_hp)

Matriks Awal:

         Redmi Note 14 Pro+  Pixel 8a  Vivo V50  OnePlus Nord 4  Samsung A56
Storage                 512       128       256             256          128
Kamera                  200        64       108              64           50
Harga                   499       499       520             530          550
Berat                   187       188       190             195          200
Bonus                     1         0         1               1            0

In [33]:

# Langkah 3: Normalisasi matriks
df_normalized = df_hp.astype(float).copy()
for i, tipe in enumerate(types):
    row = df_hp.iloc[i]
    if tipe == 'benefit':
        df_normalized.iloc[i] = row / row.max()
    else:  # cost
        df_normalized.iloc[i] = row.min() / row

print("Matriks Normalisasi:")
display(df_normalized)

Matriks Normalisasi:

         Redmi Note 14 Pro+  Pixel 8a  Vivo V50  OnePlus Nord 4  Samsung A56
Storage                 1.0  0.250000  0.500000        0.500000     0.250000
Kamera                  1.0  0.320000  0.540000        0.320000     0.250000
Harga                   1.0  1.000000  0.959615        0.941509     0.907273
Berat                   1.0  0.994681  0.984211        0.958974     0.935000
Bonus                   1.0  0.000000  1.000000        1.000000     0.000000

In [34]:

# Langkah 4: Matriks Ternormalisasi Terbobot
df_terbobot = df_normalized.copy()
for i in range(len(bobot)):
    df_terbobot.iloc[i] *= bobot[i]

print("Matriks Ternormalisasi Terbobot:")
display(df_terbobot)

Matriks Ternormalisasi Terbobot:

         Redmi Note 14 Pro+  Pixel 8a  Vivo V50  OnePlus Nord 4  Samsung A56
Storage                0.25  0.062500  0.125000        0.125000     0.062500
Kamera                 0.25  0.080000  0.135000        0.080000     0.062500
Harga                  0.20  0.200000  0.191923        0.188302     0.181455
Berat                  0.15  0.149202  0.147632        0.143846     0.140250
Bonus                  0.15  0.000000  0.150000        0.150000     0.000000

In [35]:

# Langkah 5: Menjumlahkan skor akhir tiap alternatif
skor_akhir = df_terbobot.sum(axis=0)
print("Skor Akhir Tiap Alternatif:")
display(skor_akhir)

Skor Akhir Tiap Alternatif:

Redmi Note 14 Pro+    1.000000
Pixel 8a              0.491702
Vivo V50              0.749555
OnePlus Nord 4        0.687148
Samsung A56           0.446705
dtype: float64

Redmi Note 14 Pro+ menempati peringkat pertama dengan skor tertinggi. Ini berarti secara keseluruhan, ponsel ini menawarkan kombinasi terbaik dari penyimpanan besar, kamera bagus, harga terjangkau, bobot cukup ringan, dan bonus fitur menarik dibandingkan ponsel lainnya di kelas mid-range.

In [36]:
# TOPSIS (Technique for Order of Preference by Similarity to Ideal Solution) sederhana untuk kepala laboratorium IT

# Langkah 1: Definisi kriteria dan bobot
criteria = ['Tes Pengetahuan IT', 'Praktek Instalasi Jaringan', 'Tes Kepribadian', 'Tes Pengetahuan Agama']
types = ['cost', 'cost', 'benefit', 'benefit']
bobot = np.array([0.35, 0.30, 0.25, 0.10])

# Langkah 2: Data awal dari tabel
data = {
    'A1': [70, 62, 84, 68],
    'A2': [50, 76, 82, 76],
    'A3': [82, 53, 78, 71],
    'A4': [89, 68, 73, 86],
    'A5': [75, 72, 86, 74],
    'A6': [62, 59, 75, 84]
}

# Buat DataFrame awal
df = pd.DataFrame(data, index=criteria)
print("Matriks Awal:")
display(df)

Matriks Awal:

                            A1  A2  A3  A4  A5  A6
Tes Pengetahuan IT          70  50  82  89  75  62
Praktek Instalasi Jaringan  62  76  53  68  72  59
Tes Kepribadian             84  82  78  73  86  75
Tes Pengetahuan Agama       68  76  71  86  74  84

In [37]:
# Langkah 3: Normalisasi matriks
df_normalized = df.astype(float).copy()
for i, tipe in enumerate(types):
    row = df.iloc[i]
    if tipe == 'benefit':
        df_normalized.iloc[i] = row / row.max()
    else:
        df_normalized.iloc[i] = row.min() / row

print("Matriks Normalisasi:")
display(df_normalized)

Matriks Normalisasi:

,A1,A2,A3,A4,A5,A6
Tes Pengetahuan IT,0.714286,1.000000,0.609756,0.561798,0.666667,0.806452
Praktek Instalasi Jaringan,0.854839,0.697368,1.000000,0.779412,0.736111,0.898305
Tes Kepribadian,0.976744,0.953488,0.906977,0.848837,1.000000,0.872093
Tes Pengetahuan Agama,0.790698,0.883721,0.825581,1.000000,0.860465,0.976744

In [38]:

# Langkah 4: Matriks Ternormalisasi Terbobot
df_terbobot = df_normalized.copy()
for i in range(len(bobot)):
    df_terbobot.iloc[i] *= bobot[i]

print("Matriks Ternormalisasi Terbobot:")
display(df_terbobot)

Matriks Ternormalisasi Terbobot:

,A1,A2,A3,A4,A5,A6
Tes Pengetahuan IT,0.250000,0.350000,0.213415,0.196629,0.233333,0.282258
Praktek Instalasi Jaringan,0.256452,0.209211,0.300000,0.233824,0.220833,0.269492
Tes Kepribadian,0.244186,0.238372,0.226744,0.212209,0.250000,0.218023
Tes Pengetahuan Agama,0.079070,0.088372,0.082558,0.100000,0.086047,0.097674

In [39]:

# Langkah 5: Menjumlahkan skor akhir tiap alternatif
skor_akhir = df_terbobot.sum(axis=0)
print("Skor Akhir Tiap Alternatif:")
display(skor_akhir)

Skor Akhir Tiap Alternatif:

A1    0.829707
A2    0.885955
A3    0.822717
A4    0.742662
A5    0.790213
A6    0.867447
dtype: float64

In [40]:

# Langkah 6: Menentukan peringkat
peringkat = skor_akhir.sort_values(ascending=False)
print("Peringkat Alternatif:")
display(peringkat)

Peringkat Alternatif:

A2    0.885955
A6    0.867447
A1    0.829707
A3    0.822717
A5    0.790213
A4    0.742662
dtype: float64

Calon A2 (Budi Nugroho) menjadi pilihan terbaik dengan skor tertinggi karena paling memenuhi kriteria seleksi, yaitu memiliki nilai rendah pada tes yang bersifat cost dan nilai tinggi pada tes kepribadian serta pengetahuan agama.